.idea
coverage
node_modules
unit_coverage
bower_components
typings
/server/**/*.js
/server/**/*.js.map
/client/**/*.js
/client/**/*.js.map
!client/dev/config.js
/tests/client/**/*.js
/tests/client/**/*.js.map
